.cities {
  
}

.city {
    background-color: goldenrod;
    border: groove 3px;
    margin-top: .5rem;
}

.city__name {
    text-align: center;
    padding: 10px;
}

.city__image {
    height:230;
    width:403;
}