.cities{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 10px;
}

.city__name {
  text-align: center;
  padding: 10px;
}

.city {
  border: groove 3px;
  margin: 10px;
  background-color: goldenrod;
  text-align: center;
}


.city__image {
  height: 230px;
  width: 300px;
}


