.countryFlag {
    border: 3px solid black;
    height:230;
    width:403;
}

.siteHeader {
    border: 3px solid black;
}

.countryName {
    border: 5px solid black;
}

.descriptiveParagraph {
    border: 3px solid black;
}
.cities {
    border: 3px solid black;
}

.city {
    border: 3px solid black;
}

.city__name {
    border: 3px solid black;
}

.city__image {
    border: 3px solid black;
    height:230;
    width:403;
}

.landmarks {
    border: 3px solid black;
}

.landmark {
    border: 3px solid black;
}

.landmark__name {
    border: 3px solid black;
}

.landmark__image {
    border: 3px solid black;
    height:230;
    width:403;
}

.heads {
    border: 3px solid black;
}

.heads__name {
    border: 3px solid black;
}

.heads__image {
    border: 3px solid black;
    height:230;
    width:403;
}