.heads {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10px;
}

.heads__name {
    text-align: center;
    padding: 10px;
}

.heads__card {
    background-color: goldenrod ;
    border: groove 3px;
    text-align: center;
    margin: 10px;
    margin-top: 10px;
}

.heads__image {
    height:230px;
    width:300px;
}
