.headContainer {
    display: flex;
    flex-direction: row;
}
.countryFlag {
    display: flex;
    justify-content: left;
    height:230px;
    width:403px;
}

.siteHeader {
    height:230px;
    width:100%;
}

.countryName {
}

.descriptiveParagraph {
}