.headContainer {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}
.countryFlag {
    display: flex;
    justify-content: left;
    height:230px;
    width:403px;
}

.siteHeader {
    height:230px;
    width:100%;
}

.countryName {
    text-align: center;
}

.descriptiveParagraph {
    text-align: center;
    margin: 50px;
}

button {
    width: 75px;
    height: 30px;
    border-radius: 7%;
    background-color: rgb(226, 182, 123);
    opacity: 75%;
}