
.heads {
    background-color: goldenrod;
}
.heads__card {
    border: groove 3px;
}
.heads__name {
    text-align: center;
    padding: 10px;
}

.heads__image {
    height:230px;
    width:300px;
   
}
button {
    width: 75px;
    height: 30px;
    border-radius: 7%;
    background-color: rgb(226, 182, 123);
    opacity: 75%;
}