
.landmarks {
  background-color: goldenrod;
    border: groove 3px;
    margin-top: .5rem;
}

.landmark__name {
        text-align: center;
        padding: 10px;
}

.landmark__image {
    height:230px;
    width:403px;
}