.landmark {

}
.landmarks {
    background-color: goldenrod;
    border: groove 3px;
}

.landmark__name {
        text-align: center;
        padding: 10px;
}

.landmark__image {
    height:230px;
    width:403px;
}