@import url("Header.css");
@import url("Landmarks.css");
@import url("Head.css");
@import url("Cities.css");

html {
    font-family: arial;
}
a {
    text-decoration: transparent;
}

ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    opacity: 80%;
  
}

body {
    background-color: rgba(173, 214, 231, 0.986);
}
.list__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;  
}

.nav__container {
    border: groove 3px  #B3B5B3;
    background-color: #B3B5B3;
}


.image__splash {
    width:100%;
    height: auto;
    opacity: 75%;
    border-radius: 2%;
    
}
.big__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}   